body{
  margin:0;
  font-family:Arial;
  background:linear-gradient(120deg,#000,#400000);
  color:white;
}

header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px;
  background:#000;
}

.verificado{color:lime}

.produtos{padding:20px}
.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:20px;
}

.card{
  background:#111;
  padding:15px;
  border-radius:10px;
  text-align:center;
}

.card img{width:100%;border-radius:8px}

.old{text-decoration:line-through;color:#aaa}
.price{color:red;font-size:20px}

button{
  background:red;
  border:none;
  padding:10px;
  color:white;
  border-radius:8px;
  cursor:pointer;
  margin-top:5px;
}

button:hover{opacity:.8}

.produto-page{
  display:flex;
  gap:30px;
  padding:20px;
}

.produto-page img{
  width:300px;
  border-radius:10px;
}

footer{
  text-align:center;
  padding:15px;
  background:#000;
}
@media(max-width:768px){
  .produto-page{flex-direction:column}
}
