body {
  margin: 0;
  background: #0b0b0b;
  color: white;
  font-family: Arial, sans-serif;
}

header {
  background: black;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

header input {
  padding: 10px;
  border-radius: 20px;
  border: none;
}

.beneficios {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 20px;
}

.beneficios div {
  background: #111;
  padding: 10px 20px;
  border-radius: 20px;
}

.produtos {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.card {
  background: #111;
  width: 250px;
  padding: 15px;
  border-radius: 15px;
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.preco {
  color: red;
  font-size: 20px;
}

.comprar {
  display: block;
  background: red;
  color: white;
  padding: 10px;
  border-radius: 20px;
  text-decoration: none;
  margin-top: 10px;
}
