body {
  margin: 0;
  background: #0b0b0b;
  color: white;
  font-family: Arial, sans-serif;
}

header {
  text-align: center;
  padding: 20px;
  background: black;
}

.produtos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 30px;
}

.card {
  background: #111;
  width: 250px;
  padding: 15px;
  border-radius: 15px;
  text-align: center;
}

.card img {
  width: 100%;
  height: 140px;
  background: #222;
  border-radius: 10px;
}

.preco {
  color: red;
  font-size: 20px;
}

button {
  background: red;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  width: 100%;
}

.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.8);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #111;
  padding: 20px;
  border-radius: 15px;
  width: 300px;
  text-align: center;
}

textarea {
  width: 100%;
  height: 120px;
  background: black;
  color: #0f0;
  border: none;
  margin-bottom: 10px;
}

.fechar {
  background: #333;
  margin-top: 10px;
}
