body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(black, #300);
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: black;
}

.logo {
  font-size: 20px;
  color: red;
}

.verificado {
  color: #00ff99;
}

.search {
  width: 300px;
  padding: 8px;
}

.menu a {
  margin-left: 15px;
  color: white;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 60px;
}

.products {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
}

.card {
  background: #111;
  padding: 15px;
  width: 200px;
  border-radius: 10px;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card a {
  display: block;
  background: red;
  text-align: center;
  margin-top: 10px;
  padding: 8px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

footer {
  background: #200;
  text-align: center;
  padding: 20px;
}
